body {
  margin: 0;
}
nav {
  background-color: #404040;
}
nav ul {
  margin: 0 auto;
  padding: 20px 0;
  width: 95%;
  display: flex;
  justify-content: space-evenly;
}
nav ul li {
  list-style: none;
}
nav a {
  text-decoration: none;
  font: 3rem 'Roboto', sans-serif;
  color: #fff;
}
nav ul span {
  position: absolute;
  width: 1px;
  top: -150px;
  overflow: hidden;
}